.node-graph-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.node-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: transparent;
}

.node {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border: 1px solid #444;
  background: #fff;
  border-radius: 5px;
  cursor: grab;
  position: absolute;
}
